.banner-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.banner-buttons button {
  background-color: #B8CEF7;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Muestra los botones solo en pantallas más grandes */
@media (max-width: 768px) {
  .banner-buttons {
    display: none;
  }
}
